<section class="experience">
    <div class="resume-section-content">
        <h1 class="experiencehead">Education</h1>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Pre-University Course</h3>
                <div class="subheading-mb-3"><b>Sri Siddaganga PU College</b></div>
                <p>percentage:95%
                    </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2016 - 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Bachelor of Engineering</h3>
                <div class="subheading-mb-3"><b> Electronics and Communication </b></div>
                <div class="subheading-mb-3"><b> The National Institute of Engineering, Mysuru</b></div>
                <p> CGPA:9.132
                    
                    </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2018 - 2022</span></div>
        </div>
    </div>
</section>


