<section class="about">
    <img src="/assets/123.jpg">
    <div class="jumbotron">
        
        <h1 class="display-4">Swamy M S</h1>
        <p class="lead">Ajjampura,Chikkamaglur-577550  +918296305064  msswamy2000@gmail.com</p>
        <hr class="my-4">
        <p class="display-41">I am an Electronics and Communication Engineering student.Currently studying in 6th semester at National Institute of Engineering in Mysore.</p>
        <a href="https://www.linkedin.com/in/swamy-m-s-1a74611b1/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://github.com/swamy-m-s" target="_blank" class="fa fa-github" ></a>
        
      </div>
      
</section>
<app-experience></app-experience>
<app-education></app-education>
<app-skills></app-skills>
<app-projects></app-projects>
<app-courses></app-courses>
