<section class="experience" id="experience">
    <div class="resume-section-content">
        <h1 class="experiencehead">Experience</h1>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Machine Learning Intern</h3>
                <div class="subheading-mb-3"><b>Internship Studio</b></div>
                <p>There are two phases in this internship. The first phase is training phase in that I learned about statistics, Python
                    programming basics along with some Machine Learning libraries and algorithms. In the second phase, I developed a
                    project named Marketing Campaign For Banking Products. This project predicts whether a person is eligible for taking
                    a loan from the bank or not based on the data given.
                    </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2020 - Sep 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Intern</h3>
                <div class="subheading-mb-3"><b>Cosmic Skills</b></div>
                <p>Helped in Developing Online Course on AI fields like Machine Learning and Neural Networks.Helped in the creation of quiz and other contents. </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2020 - Sep 2020</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
