<section class="experience" id="experience">
    <div class="resume-section-content">
        <h1 class="experiencehead">Projects</h1>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Marketing Campaign For Banking Products</h3>
                <p>This project is done during my Internship at Internship Studio. It is a classification problem. After Data Cleaning 
                     I applied many algorithms like Logistic Regression, Random Forest, Decision Tree.
                     out of them I got an Accuracy-0.98 in Random Forest Algorithm.
                    </p>
                    <p class="githublink">Github link : <a href="https://github.com/swamy-m-s/machine-learning-projects/blob/master/Bank_Loan_Prediction_model.ipynb" target="_blank">Marketing Campaign For Banking Products</a></p>
            </div>
            
        </div>
        




            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Fraud Detection in Credit Card Transaction</h3>
                    
                    <p> Dockship Competation by Machine Learning India.Obtained a score of 0.80 for the given test set.Tried various algorithms
                        like Logistic Regression,Random Forest and Decision Tree but got a good score using Neural Network.
                        
                        </p>
                        <p class="githublink">Github link : <a href="https://github.com/swamy-m-s/machine-learning-projects/blob/master/classify_credit_card_transaction_as_fraudulent_or_not.ipynb" target="_blank">Fraud Detection in Credit Card Transaction</a></p>
    
                </div>
            </div>
            
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">50 Different Types of Butterfly Image Classification Model
                        </h3>
                        <p>50 Different Types of Butterfly Image Classification Model implemented using Convolution Neural Network from the
                            tensorflow keras open source library with image preprocessing of the training dataset.
                            
                            </p>
                            <p class="githublink">Github link : <a href="https://github.com/swamy-m-s/machine-learning-projects/blob/master/Butterfly_classification_challenge.ipynb" target="_blank">50 Different Types of Butterfly Image Classification Model
                            </a></p>
                    </div>
                    
               
        </div>
    </div>
</section>

