.experience{
    background-color: gainsboro;
    padding-bottom: 2%;
}

.experiencehead{
    padding: 1%;
    color:tomato;
    font-size: 90px;
}
.flex-grow-1{
    padding: 1%;

}

.mb-0{
    color:orangered;
}
p{
    font-size: 30px;
    text-align: justify;
}

@media screen and (max-width:600px){
    .experiencehead{
        font-size: 50px;
        padding-bottom: 1%;
    }
    p{
        font-size: 20px;
        text-align: justify;
        padding-right: 1%;
    }
    .githublink{
        font-size: 10px;
        text-align: justify;
        padding-right: 1%;
    }


}